.youji_logo {
    font-family: 'Lobster', cursive;
}

.youji_footer_button {
    font-size: .9rem;
}

.youji_footer {
    text-align: center; margin-top: 2rem;
}

.youji_header {
    text-align:center; margin: 2rem 0;
}